ice-cascade
*.out
*~
src/*.o
src/*.mod
src/ice/*.o
src/ice/*.mod
src/climate/*.o
src/climate/*.mod
*.swp
.nfs*
*.bak
to_delete
*.pyc
*.nc
src/old_climate.f90
test/bueler_isothermal_a/hindmarsh2_explicit
