ice-cascade
*~
src/*.o
src/*.mod
*.swp
.nfs*
*.bak
*.pyc
*.nc
exp/response_time_rhone/srtm/srtm_38_03.tif
exp/response_time_rhone/srtm/srtm_38_03.tfw
exp/response_time_rhone/srtm/srtm_38_03.hdr
exp/response_time_rhone/srtm/readme.txt
